{% extends 'base.html' %}
{% block body %}

<!-- Products -->
	<div class="total-ads main-grid-border">
		<div class="container">
			<div class="all-categories">
				<h3> Select your category and find the perfect ad</h3>
				<ul class="all-cat-list">
                    {% for catagory in catagory_list %}

                        <li><a href="{% url 'list_category' catagory.slug %}">{{ catagory }} <span class="num-of-ads">( {{ catagory.total_products}} )</span></a></li>

                    {% endfor %}

				</ul>
			</div>
			<ol class="breadcrumb" style="margin-bottom: 5px;">
{#			  <li><a href="index.html">Home</a></li>#}
                <li class="active"><a href="{% url 'list' %}">All Ads</a></li>
                {% if category %}
                    <li class="active"><a href="{% url 'list' %}">{{ category}}</a></li>

                {% endif %}
			</ol>
			<div class="ads-grid">
{#				<div class="side-bar col-md-3">#}
{#					<div class="search-hotel">#}
{#					<h3 class="sear-head">Name contains</h3>#}
{#					<form>#}
{#						<input type="text" value="Product name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Product name...';}" required="">#}
{#						<input type="submit" value=" ">#}
{#					</form>#}
{#				</div>#}
{#				</div>#}
				<div class="ads-display col-md-9">
					<div class="wrapper">
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								<div class="clearfix"></div>
							<ul class="list">
                                {% for product in products %}
								<a href="{% url 'detail' product.slug %}">
									<li>
                                        {% if product.image %}
                                            <img src="{{ product.image.url}}" title="" alt="" />

                                        {% else %}
                                            <img src="images/m1.jpg" title="" alt="" />
                                        {% endif %} 
									<section class="list-left">
									<h5 class="title">{{ product.name }}</h5>
									<span class="adprice">Rs. {{ product.price }}</span>
									<p class="catpath">{{ product.category}}</p>
									</section>
									<section class="list-right">
									<span class="date">Added Date: {{ product.created_date}}</span>
{#									<span class="cityname">City name</span>#}
									</section>
									<div class="clearfix"></div>
									</li>
								</a>
                                {% endfor %}
							</ul>
						</div>
							</div>
						</div>
{#						<ul class="pagination pagination-sm">#}
{#							<li><a href="#">Prev</a></li>#}
{#							<li><a href="#">1</a></li>#}
{#							<li><a href="#">2</a></li>#}
{#							<li><a href="#">3</a></li>#}
{#							<li><a href="#">4</a></li>#}
{#							<li><a href="#">5</a></li>#}
{#							<li><a href="#">6</a></li>#}
{#							<li><a href="#">7</a></li>#}
{#							<li><a href="#">8</a></li>#}
{#							<li><a href="#">Next</a></li>#}
{#						</ul>#}
					  </div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- // Products -->

{% endblock body %}
